/* Clases para la entrada del elemento */
.fade-enter {
    opacity: 0;
    transform: scale(0.95);
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
}

/* Clases para la salida del elemento */
.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 500ms, transform 500ms;
}

/* Estilo básico del contenedor de contenido */
.content-wrapper {
    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.progress-bar-scene {
    position: fixed;
    top: 0px;
    left: 0;
    background-color: rgba(255, 255, 255, .4);
    height: 6px;
    transition: width 0.1s ease;
}